<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Welcome to Park's web</h1>
  <h2><a href='/sqlUsers'>SQL 유저 링크요</a></h2>
  <h2><a href='/sqlBoard'>SQL 포스트 링크요</a></h2>
  <h2><a href='/sqlLogin'>SQL 로그인 바로가기</a></h2>
  <h2><a href='/sqlRegister'>SQL 회원가입 바로가기</a></h2>
  <hr />
  <h2><a href='/mongoUsers'>Mongo 유저 링크요</a></h2>
  <h2><a href='/mongoBoard'>Mongo 포스트 링크요</a></h2>
  <h2><a href='/mongoLogin'>Mongo 로그인 바로가기</a></h2>
  <h2><a href='/mongoRegister'>Mongo 회원가입 바로가기</a></h2>
  <hr />
  <h2><a href='/mongoUsers'>Mongoose 유저 링크요</a></h2>
  <h2><a href='/mongoBoard'>Mongoose 포스트 링크요</a></h2>
  <h2><a href='/mongooseLogin'>Mongooose 로그인 바로가기</a></h2>
  <h2><a href='/mongooseRegister'>Mongooose 회원가입 바로가기</a></h2>
  <script>
    console.log(document.cookie);

    // document.cookie = "user=park; expires=17 Mar 2023 13:00:00 GMT; path=/";
    // document.cookie = "test=test; expires=17 Mar 2023 13:00:00 GMT; path=/";

    // console.log(document.cookie);
  </script>
</body>

</html>